<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>

        // 데이터 조회해오기
        function read() {
            var select = document.getElementById("citySelect");
            var city = select.options[select.selectedIndex].value;
            var req = {
                city : city
            };
            fetch(`/getTourInfo`,{
                method : "POST",
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify(req), // 제이슨형식을 문자열로
            })
            .then(res => res.json())
            //.then(res => console.log(res))
            .then(res => {setTable(res)})
            .catch(err => console.error(new Error("조회 중 에러발생")));
        }

        // 조회해온 데이터 테이블에 세팅
        function setTable(data) {
            var table = document.getElementById("tourTable");
            var tbody = document.getElementById("tbody");
            var rowCnt = table.rows.length;
            for (var i=0 ; i <rowCnt-1; i++) {
                table.deleteRow(-1);
            }
            if (data.length > 0) {
                for (var i = 0 ; i < data.length; i++) {
                    var tour = data[i];
                    var view = `<tr>`;
                    view += `<td><input type='checkbox' class='check' id='${tour.city_code}-${tour.aid}'></td>
                            <td>${tour.city}</td>
                            <td>${tour.korean_name}</td>
                            <td>${tour.english_name}</td>
                            <td>${tour.price}</td>
                            <td>${tour.description}</td>
                            <td>${tour.day_off}</td>
                            <td>${tour.img}</td>
                        `
                    view += `</tr>`;
                    tbody.innerHTML += view;
                }
            }else {
                alert("조회된 내용이 없습니다.");
            }
        }

        // 행추가
        function addRow() {
            
            var table = document.getElementById("tourTable");

            const newRow = table.insertRow();
            newRow.insertCell(0).innerHTML = `<input type='checkbox' class='check'>`;
            newRow.insertCell(1).innerHTML = `<select class='cityCode'><option value='01'>Seoul</option><option value='02'>Busan</option><option value='03'>Jeju</option><option value='04'>Gyeongju</option><option value='05'>Cities</option><option value='06'>Others</option></select>`;
            newRow.insertCell(2).innerHTML = `<input id='idTest' class='koreanName' type='text'>`;
            newRow.insertCell(3).innerHTML = `<input class='englishName' type='text'>`;
            newRow.insertCell(4).innerHTML = `<input class='price' type='text'>`;
            newRow.insertCell(5).innerHTML = `<input class='description' type='text'>`;
            newRow.insertCell(6).innerHTML = `<input class='dayOff' type='text'>`;
            newRow.insertCell(7).innerHTML = `<input class='image' type='text'>`;
            newRow.insertCell(8).innerHTML = `<input class='cityName' hidden>`;
        }

        // 행삭제
        function deleteRow() {
            var checkBox = document.querySelectorAll(".check");
            var rowToDelete = new Array();
            for (var i = 0 ; i < checkBox.length; i++) {
                if (checkBox[i].checked) {
                    if (checkBox[i].id) {
                        alert("기존 데이터는 삭제버튼으로 삭제하세요");
                        break;
                    } else {
                        rowToDelete.push(i);
                    }
                }
            }
            if (rowToDelete.length > 0) {
                for (var i = 0 ; i < rowToDelete.length; i++) {
                    checkBox[rowToDelete[i]].parentElement.parentElement.remove();
                }
            }
        }
        
        // 데이터 추가
        function saveTour() {
            var table = document.getElementById("tourTable");
            var rowList = table.rows;

            var saveData = new Array();
            for (var i = 1; i < rowList.length; i++) { // thead 제외
                // 행추가 중 체크된 것
                if(rowList[i].firstChild.firstChild.checked && !rowList[i].firstChild.firstChild.id) {
                    var tour = new Object();
                    var cityName = "";
                    for (var j = 1 ; j < rowList[i].children.length; j++) {
                        if (rowList[i].children[j].firstChild.className == "cityCode") {
                            console.log("cityName 체크")
                            var select = rowList[i].children[j].firstChild;
                            cityName = select.options[select.selectedIndex].text;
                            // select를 찾고있음 선택한 옵션을 찾아야함
                            //cityName = rowList[i].children[j].firstChild.text;
                            console.log(cityName);
                        }
                        tour[rowList[i].children[j].firstChild.className] = rowList[i].children[j].firstChild.value

                    }
                    tour.cityName = cityName;
                    saveData.push(tour);
                }
            }
            console.log(saveData);

            if (saveData.length > 0) {
                if (saveValidation(saveData)) {
                    fetch(`/saveTourInfo`,{
                        method : "POST",
                        headers : {
                            "Content-Type" : "application/json"
                        },
                        body : JSON.stringify(saveData), // 제이슨형식을 문자열로
                    })
                    .then(res => res.json())
                    .then(res => {
                        if (res.success) {
                            read();
                        }
                    })
                    .catch(err => console.error(new Error("저장 중 에러발생")));
                }
            }
            
        }

        function saveValidation(saveData) {
            for (var i = 0 ; i < saveData.length; i++) {
                if (!saveData[i].koreanName) {
                    alert("한글명을 입력하세요");
                    return null;
                } else if (!saveData[i].englishName) {
                    alert("영문명을 입력하세요");
                    return null;
                } else if (!saveData[i].price) {
                    saveData[i].price = 0;
                } else if (!saveData[i].description) {
                    alert("설명을 입력하세요");
                    return null;
                } else if (!saveData[i].dayOff) {
                    saveData[i].dayOff = "";
                } else if (!saveData[i].image) {
                    alert("이미지를 입력하세요");
                    return null;
                }
            }
            return saveData;
        }
    </script>

    <select id="citySelect">
        <option value="01">Seoul</option>
        <option value="02">Busan</option>
        <option value="03">Jeju</option>
    </select>

    <button type="button" id="readBtn" onclick="read()">조회</button>
    <button type="button" id="saveBtn" onclick="saveTour()">저장</button>
    <button typye="button" id="addRowBtn" onclick="addRow()">행추가</button>
    <button type="button" id="deleteRowBtn" onclick="deleteRow()">행삭제</button>
    
    <table id="tourTable">
        <thead>
            <tr>
                <th>선택</th>
                <th>지역</th>
                <th>한글명</th>
                <th>영문명</th>
                <th>금액</th>
                <th>설명</th>
                <th>휴무</th>
                <th>이미지</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</body>
</html>